
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #F5F5F7;
  font-family: 'Inter', sans-serif;
}
